* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #23211F;
    color: #EBAA00;
    
}

.container {
    border: 5px double #EBAA00;
    border-radius: 1rem;
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
}

p {
    color: #D8DBE2;
    
}

.circle {
    margin: 3rem auto;
    background-color: #EBAA00;
    width: 100px;
    height: 100px;
    border: 2px solid #D8DBE2;
    border-radius: 50%;
    outline: 2px solid #EBAA00;
    outline-offset: 0.25rem;
}